{% extends 'Blog/base.html' %}
{% load static %}
{% block context %}
 
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'blog/img/home-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>المپیک</h1>
                             
                        </div>
                    </div>
                </div>
              </div>
           </header>
      
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                   <h3 class="alert alert-primary text-center"> نویسنده:{{author.get_full_name}}</h3>
                 
                    <!-- Post preview-->
                    {% for article in  articles %}
                        <div class="post-preview text-right">
                            <a href="{% url 'blog:detail' article.slug %}">
                                <h2 class="post-title">{{article.title}}</h2>
                                <h3 class="post-subtitle">{{article.content|safe|truncatewords:30}}</h3>
                            </a>
                            <p class="post-meta">
                                نوشته شده توسط
                                <a href="{% url 'blog:author' article.author %}">{{article.author.get_full_name}}</a>
                                
                                {{article.j_publish}}
                            </p>
                            <div>
                                {% for cat  in article.category.active %}
                                <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <!-- Pager-->
                    <!--pagination start -->
                    {% if is_paginated %}
                        <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <!-- privious -->
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'blog:author'  author.username  page_obj.previous_page_number %}">قبلی</a >
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true" >قبلی</a>
                            </li>
                            {% endif %}
                            <!--  end privious -->
                        
                            <!--  hellip start-->
                            {% if  page_obj.number|add:'-4' > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'blog:author' page_obj.number|add:'-5'  %}">&hellip;</a>
                            </li>
                            {% endif %}
                            <!--  end hellip -->
                        
                            <!--  start pager -->
                            {%  for i in  page_obj.paginator.page_range %}
                            {% if  page_obj.number == i %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">
                                        {{ i }}
                                        <span class="sr-only">(current)</span> 
                                    </span>
                                </li>
                            {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                            <li class="page-item">
                                <a class="page-link" href="{% url 'blog:author'  author.username  i  %}">{{ i }}</a>
                            </li>
                            {% endif %} 
                            {% endfor %}
                            <!--  end pager -->
                            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                            <li class="page-item"><a class="page-link" href="{% url 'blog:author' page_obj.number|add:'5' %}">&hellip;</a></li>
                            {% endif %}
                            <!-- next -->
                            {% if  page_obj.has_next %}
                            <li class="page-item">
                            <a class="page-link" href="{% url 'blog:author'  author.username  page_obj.next_page_number %} " >بعدی</a>
                            </li>
                            {% else %}
                        
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">بعدی</a>
                            </li>
                        
                            {% endif %}
                            <!--  end next -->
                        </ul>
                        </nav>      
                   {% endif %}       
                        
                  </div>
              </div>
            
              
              <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
              <!-- Core theme JS-->
              <script src="js/scripts.js"></script>  
        
      
  {% endblock context %}
            